<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <%-include("partials/header") -%>
        <h1>Compose</h1>
        <form method="post" action=" /compose">
            <input type="text " name="publish">
            <button type="submit ">Publish</button>
        </form>
        <%-include("partials/footer") -%>
</body>

</html>